<h1>Edit Task</h1>

<%= form_for @task do |set| %>
  <%= set.label :title %>
  <%= set.text_field :title %>
  <%= set.label :details %>
  <%= set.text_field :details %>
  <%= set.label :completed%>
  <%= set.check_box :completed %>
  <%= set.submit %>
<% end %>